<div id="chat_<%= chat.id %>" class="right-container d-flex justify-content-end mb-3 chat-item">
    <div class="d-flex align-items-baseline">
        <p style="background-color: #cbe8e6; padding: 8px 12px; border-radius: 10px; margin-bottom: 0;">
            <%= chat.message %>
        </p>

        <div class="delete-button-wrapper">
            <%= button_to "×", chat_path(chat), method: :delete, data: { turbo_confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
        </div>
    </div>
</div>