<div class="cover-chat-show">
    <div class="container d-flex flex-column align-items-center">
        <div class="row mt-5 mb-3">
            <h1 class="font-weight-normal"><span style="color: 	#0072BC;"><%= @user.name %>さん</span>とのトークルーム</h1>
        </div>

        <div class="message" id="messages">
            <% @chats.each do |chat| %>
                <% if chat.user_id == current_user.id %>
                    <%= render 'chat', chat: chat %>
                <% else %>
                    <div class="mb-3" style="text-align: left;">
                        <span style="background-color: #f6cedc; padding: 8px 12px; border-radius: 10px; display: inline-block;">
                            <%= chat.message %>
                        </span>                        
                    </div>
                <% end %>
            <% end %>
        </div>

        <div class="fixed-bottom p-3">
            <div class="container d-flex flex-column align-items-center">
                <div id="chat_error"></div>
                <div class="w-50">
                    <%= render "form", chat: @chat %>
                </div>
            </div>
        </div>
    </div>
</div>